main{
   width: 1320px;
   height: auto;
   margin: 50px auto 120px auto;
   background-color: aliceblue;
}
/* Greetings Section / Section 1 */
.greetings{
    background: linear-gradient(
        to bottom,
        rgba(7,2,17,1),
        rgba(7,2,17,0)
    ),
    url(../images/Banner\ Image.png);
    border-radius: 16px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    width: 1320px;
    color: #FFFFFF;
    font-family: "Merriweather", serif;
    align-items: center;
    justify-content: center;
    display: flex;
}
.greetings-texts{
    width: 632px;
    height: 246px;
    text-align: center;
}
.greetings-texts h3{
    font-size: 32px;
    margin-bottom: 16px;
}
.greetings-texts h1{
    margin-top: 16px;
    font-size: 72px;
}
/* Section - 2 */
.section-2{
    font-family: "Inter", serif;
    height: 806px;
    width: 802px;
    margin: 120px auto 120px auto;
}
.section-2-texts{
    text-align: center;
}
.section-2-texts h1{
    color: #FF0000;
    font-size: 88px;
    font-weight: bold;
    margin-bottom: 48px;
}
.section-2-texts p{
    color: #FF0000;
    font-size: 24px;
    margin-bottom: 16px;
    margin-top: 48px;
}
.section-2-texts h3{
    color: #070211;
    font-size: 48px;
    margin-top: 16px;
    margin-bottom: 48px;
    font-weight: bold;
}

/* Section 3 */
.section-3{
    height: 600px;
    width: 1320px;
    margin: 120px auto 120px auto;
    background: linear-gradient(
        to right,
        rgba(7,2,17,1),
        rgba(7,2,17,0)
    ),
    url(../images/Vectorrr.png);
    border-radius: 16px;
    color: white;
    font-family: "Merriweather", serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-3-texts{
    margin-left: 126px;
    
}
.section-3-texts h1{
    font-size: 64px;
}
.section-3-texts p{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
}
.section-3-texts h5{
    font-size: 20px;
    font-weight: bold;
    font-family: "Inter", serif;
    margin-left: 32px;
    margin-top: 48px;
}
.section-3 img{
    top: 0;
    right: 0;
    margin-right: 138px;
}
/* Section 4 */
.section-4{
    height: 600px;
    width: 1320px;
    margin: 120px auto 120px auto;
    background: linear-gradient(
        to bottom,
        rgba(255,0,0,0.1),
        rgba(255,0,0,0)
    );
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter", serif;
    text-align: center;
}
.section-4-texts{
    margin: 100px 386px 110px 385px;
}
.section-4-texts p{
    font-size: 32px;
    font-weight: 500;
}
.section-4-texts p span{
    color: #FF0000;
}
.section-4-texts button{
    border-radius: 8px;
    padding: 16px 32px 16px 32px;
    background-color: #FF0000;
    color: #FFFFFF;
    border: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 48px;
}

/* SECTION-5 */
.section-5{
    display: flex;
    font-family: "Inter", serif;
    margin: 120px auto 120px auto;
    align-items: center;
    justify-content: center;
    height: 463px;
    border: 5px solid black;
}
.section-5-texts-0{
    height: 225px;
    width: 393px;
    margin-right: 70px;
    margin-left: 0;
}
.section-5-texts-0 h5{
    color: #FF0000;
    font-size: 24px;
    /* margin-top: 104px; */
}
.section-5-texts-0 h1{
    font-size: 48px;
    margin-top: 16px;
    margin-bottom: 22px;
    font-family: "Merriweather", serif;
}
.section-5-texts-0 p{
    font-size: 20px;
    font-family: "Inter", serif;
    color: rgba(7, 2, 17, 0.6);
}
.section-5-mian-img{
    height: 463px;
    width: 463px;
}
.section-5-texts-1 .texts{
    display: inline-block;
    height: 170px;
    width: 276px;
    margin-left: 118px;
    margin-top: 112px;
}
.section-5-texts-1 img{
    margin-left: 118px;
}
.section-5-texts-1 h1{
    color: #FF0000;
    font-family: "Inter", serif;
}
.section-5-texts-1 p{
    font-family: "Inter", serif;
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
    margin-bottom: 43px;
}

/* SECTION 6 STYLES */
.section-6{
    height: 986.07px;
    margin: 120px auto 120px auto;
    background-image: url(../images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}
.section-6-texts{
    text-align: center;
    width: 1068px;
    height: 260px;
    margin: 0px 126px 64px 126px;
}
.section-6-texts h5{
    font-family: "Inter", serif;
    margin-top: 0px;
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: 600;
}
.section-6-texts h1{
    font-family: "Merriweather", serif;
    font-size: 72px;
    margin-top: 16px;
    margin-bottom: 28px;
}
.section-6-texts p{
    font-size: 20px;
    font-family: "Inter", serif;
    color: rgba(7, 2, 17, 0.6);
    margin-top: 28px;
}
.s6-img-box{
    display: inline-block;
    margin-bottom: 84.04px;
    margin-left: 60.83px;
    width: 674.82px;
    height: 577.96px;
}
.s6-img-discount{
    display: inline-block;
    margin-bottom: 280px;
    margin-right: 40.31px;
    margin-left: 238px;
    height: 220px;
    width: 220px;
}