main{
   width: 1320px;
   height: auto;
   margin: 50px auto 120px auto;
   background-color: aliceblue;
}
/* Greetings Section / Section 1 */
.greetings{
    background: linear-gradient(
        to bottom,
        rgba(7,2,17,1),
        rgba(7,2,17,0)
    ),
    url(../images/Banner\ Image.png);
    border-radius: 16px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    width: 1320px;
    color: #FFFFFF;
    font-family: "Merriweather", serif;
    align-items: center;
    justify-content: center;
    display: flex;
}
.greetings-texts{
    width: 632px;
    height: 246px;
    text-align: center;
}
.greetings-texts h3{
    font-size: 32px;
    margin-bottom: 16px;
}
.greetings-texts h1{
    margin-top: 16px;
    font-size: 72px;
}
/* Section - 2 */
.section-2{
    font-family: "Inter", serif;
    height: 806px;
    width: 802px;
    margin: 120px auto 120px auto;
}
.section-2-texts{
    text-align: center;
}
.section-2-texts h1{
    color: #FF0000;
    font-size: 88px;
    font-weight: bold;
    margin-bottom: 48px;
}
.section-2-texts p{
    color: #FF0000;
    font-size: 24px;
    margin-bottom: 16px;
    margin-top: 48px;
}
.section-2-texts h3{
    color: #070211;
    font-size: 48px;
    margin-top: 16px;
    margin-bottom: 48px;
    font-weight: bold;
}

/* Section 3 */
.section-3{
    height: 600px;
    width: 1320px;
    margin: 120px auto 120px auto;
    background: linear-gradient(
        to right,
        rgba(7,2,17,1),
        rgba(7,2,17,0)
    ),
    url(../images/Vectorrr.png);
    border-radius: 16px;
    color: white;
    font-family: "Merriweather", serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-3-texts{
    margin-left: 126px;
    
}
.section-3-texts h1{
    font-size: 64px;
}
.section-3-texts p{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
}
.section-3-texts h5{
    font-size: 20px;
    font-weight: bold;
    font-family: "Inter", serif;
    margin-left: 32px;
    margin-top: 48px;
}
.section-3 img{
    top: 0;
    right: 0;
    margin-right: 138px;
}